$spacing: 5px;

// Little box top-left, for selecting a shapefile to display
.shapebox {
  position: absolute;
  padding: $spacing * 3;
  z-index: 9999;
  background-color: #fafafa;
  box-shadow: 0 0 $spacing rgba(0,0,0,.4);

  h1 {
    font-weight: bold;
    padding-bottom: $spacing * 6;
  }

  li, ul {
    padding-bottom: $spacing * 3;
  }

  a, a:visited, a:hover, a:active {
    color: #80b040;
  }

  .material-icons {
    font-size: 16px;
    margin-right: $spacing;

    &.hidden {
      display: none;
    }
  }
}
